a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

textarea {
  padding: 24px 16px;
  margin: 0 auto;
  outline: none;
  resize: none;
  line-height: 30px;
  font-size: 24px;
  width: calc(100% - 32px);
  height: 132px;
  color: #4E4868;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: none;
  overflow: auto;
}

.app {
  text-align: center;
  background-color: #8E33F7;
  margin: 0 auto;
  padding: 8px 16px;
  max-width: 414px;
}

.header { 
  color: white;
}

.title-container {
  margin: 0;
}

.title {
  font-size: 18px; 
  height: 30px;
}

.polly-icon {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  padding-right: 5px;
}

.instructions {
  color: white;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
  margin: 16px;
}